.product-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 20px;
}

.shoe {
  flex: 1;
  margin: 10px;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: transform 0.3s;
  cursor: pointer;
}

.shoe:hover {
  transform: scale(1.05);
}

h1{
  display: flex;
  justify-content: center;
}
.shoe img {
  max-width: 100%;
  height: auto;
}

